/* EMPTY CART SECTION */
.empty-cart-content{
    flex-grow:1;
    height: 85vh;
    background-color: var(--bg-color);
}

.cart-info-container {
    width: 40rem;
    background-color: transparent;
    border: var(--alert-border-format);
    gap: 2rem;
}

/* FILLED CART CONTAINER */

.filled-cart-content {
    flex-grow: 1;
    background-color: var(--bg-color);
}

.cart-summary-container{
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

@media screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
    
    .cart-info-container {
        width: 30rem;
    }

    .cart-summary-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}