.cart-items-price-details {
  max-width: 20rem;
}

.cart-btn-checkout {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  border-radius: 0.25rem;
  background-color:var(--dark-color);
  color:var(--mid-color);

}

@media screen and (max-width: 768px) {
  .cart-items-price-details {
    min-width: 12rem;
  }
}
